<ion-view view-title="政务">
    <ion-content>
    	<div>
    		<div class="row">
    			<div class="col col-33">
    				<div style="padding: 5px;background-color: #f2f2f2;" ng-click="showMyReview()">
    					<div style="font-size: 56px; text-align: center;color: #FFA500">
    						<i class="icon ion-android-star-half"></i>
    					</div>
    					<div style="text-align: center;">我做您评</div>
    				</div>	
    			</div>
    			<div class="col col-33">
    				<div style="padding: 5px;background-color: #f2f2f2;" ng-click="showGeneralInfo('妇女之家')">
    					<div style="font-size: 56px; text-align: center;color: #FF83FA">
    						<i class="icon ion-woman"></i>
    					</div>
    					<div style="text-align: center;">妇女之家</div>
    				</div>
    			</div>
    			<div class="col col-33">
    				<div style="padding: 5px;background-color: #f2f2f2" ng-click="showGeneralInfo('建言献策')">
    					<div style="font-size: 56px; text-align: center;color: #912CEE">
    						<i class="icon ion-ios-information-outline"></i>
    					</div>
    					<div style="text-align: center;">建言献策</div>
    				</div>
    			</div>
    		</div>
    		<div class="row">
                <div class="col col-33">
                    <div style="padding: 5px;background-color: #f2f2f2" ng-click="showGeneralInfo('工作督查')">
                        <div style="font-size: 56px; text-align: center;color: #9ACD32">
                            <i class="icon ion-ios-analytics"></i>
                        </div>
                        <div style="text-align: center;">工作督查</div>
                    </div>
                </div>
    			<div class="col col-33">
    				<div style="padding: 5px;background-color: #f2f2f2" ng-click="showGeneralInfo('权威发布')">
    					<div style="font-size: 56px; text-align: center;color: #4876FF">
    						<i class="icon ion-thumbsup"></i>
    					</div>
    					<div style="text-align: center;">权威发布</div>
    				</div>
    			</div>
    			<div class="col col-33"></div>
    		</div>
    	</div>
        
    </ion-content>
</ion-view>