<ion-view view-title="政务">
    <ion-content>
    <img src="images/top_2.jpg">
    
    	<div class="government">
            <li class="item">
          <i class="ion-ios-gear-outline f18"></i> {{variable.deptName}}
        </li>
    		<div class="row">
    			<div class="col col-33 gz-box" ng-click="showInfo()">
    				<div style="padding: 5px;">
    					<div style="font-size: 56px; text-align: center;color: #FFA500">
    						<i class="icon ion-volume-high"></i>
    					</div>
    					<div style="text-align: center;">通知公告</div>
    				</div>	
    			</div>
    			<div class="col col-33 gz-box">
    				<div style="padding: 5px;" ng-click="showForms()">
    					<div style="font-size: 56px; text-align: center;color: #FF83FA">
    						<i class="icon ion-clipboard"></i>
    					</div>
    					<div style="text-align: center;">投诉建议</div>
    				</div>
    			</div>
    			<div class="col col-33 gz-box" style="border-right: 1px solid #f3f3f3">
    				<div style="padding: 5px;" ng-click="showActivity()">
    					<div style="font-size: 56px; text-align: center;color: #912CEE">
    						<i class="icon ion-ios-information-outline"></i>
    					</div>
    					<div style="text-align: center;">活动</div>
    				</div>
    			</div>
    		</div>
    		<div class="row">
                <div class="col col-33 gz-box2">
                    <div style="padding: 5px;" ng-click="showMyReview()">
                        <div style="font-size: 56px; text-align: center;color: #9ACD32">
                            <i class="icon ion-ios-analytics"></i>
                        </div>
                        <div style="text-align: center;">项目评议</div>
                    </div>
                </div>
    			
    			
    		</div>
    	</div>
        
    </ion-content>
</ion-view>